<div id="news" class="boxed">
			<h2 class="title">News &amp; Events</h2>
			<div class="content">
				<ul>
					<li class="first">
						<h3>04 July 2007</h3>
						<p><a href="#">In posuere eleifend odio quisque semper&hellip;</a></p>
					</li>
					<li>
						<h3>29 June 2007</h3>
						<p><a href="#">Donec leo, vivamus fermentum nibh in augue&hellip;</a></p>
					</li>
					<li>
						<h3>13 June 2007</h3>
						<p><a href="#">Quisque dictum integer nisl risus sagittis&hellip;</a></p>
					</li>
				</ul>
			</div>
		</div>
		<div id="extra" class="boxed">
			<h2 class="title">Sagittis Convallis</h2>
			<div class="content">
				<ul class="list">
					<li class="first"><a href="#">Ut semper vestibulum est</a></li>
					<li><a href="#">Vestibulum luctus venenatis</a></li>
					<li><a href="#">Integer rutrum nisl in mi</a></li>
					<li><a href="#">Etiam malesuada rutrum enim</a></li>
					<li><a href="#">Aenean elementum facilisis</a></li>
					<li><a href="#">Ut tincidunt elit vitae augue</a></li>
					<li><a href="#">Sed quis odio sagittis leo</a></li>
				</ul>
			</div>
		</div>