<div id="menu">
	<ul>
		<li class="active"><a href="#">Home</a></li>
		<li><a href="/suppliers/new">Suppliers</a></li>
		<li><a href="/accounts/new">Accounts</a></li>
		<li><a href="#">About</a></li>
		<li><a href="/contacts/new">Contact</a></li>
		<%= link_to "ContactUs", new_contact_path %>
	</ul>
</div>