<div id="search" class="boxed">
			<div class="content">
				<form id="searchform" method="get" action="">
					<fieldset>
					<input id="searchinput" type="text" name="searchinput" value="" />
					<input id="searchsubmit" type="submit" value="Search" />
					</fieldset>
				</form>
				<p><a href="#">Advanced Search</a></p>
			</div>
		</div>